

.userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.topic {
    display: flex;
    align-items: center;
    gap: 24px;
}

.date p:nth-child(2) {
    color: #c5c7cd;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.menuIcon {
    cursor: pointer;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
}

.pagination {
    display: flex;
}

.pagination div {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.confirm  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.closeConfirm {
    font-size: 36px;
    align-self: flex-end;
    cursor: pointer;
}

.lddring {
    width: 44px;
    height: 44px;
  }
  .lddring div {
    width: 44px;
    height: 44px;
    border: 5px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lddring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lddring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lddring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.tbody {
    cursor: pointer;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 32px;
    padding: 30px;
}

.tbody:hover {
    background-color: rgb(243, 243, 243);
}

.confirmText p:first-child {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.confirmText p:last-child {
    font-size: 20px;
    font-weight: 400;
}

.confirmButtons {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    margin-top: 20px;
}

.confirmButtons button {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}

.confirmButtons button:last-child {
    background-color: red;
    color: white;
}