.table {
    width: 100%;
    margin-top: 48px;
    text-align: left;
    border-spacing: 0;
}

.tbody td {
    border-top: 2px solid #dfe0eb;
    padding: 24px 31px;
    color: #252733;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.th {
    color: #9fa2b4;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 12px 31px;
}

.topic {
    display: flex;
    align-items: center;
    gap: 24px;
}

.date p:nth-child(2) {
    color: #c5c7cd;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.priority {
    padding: 5px 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.HIGH {
    background-color: #F12B2C;
}

.LOW {
    background-color: #FEC400;
}

.NORMAL {
    background-color: #29cc97;
}

.subject {
    overflow: hidden;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
}