.navbar {
    display: flex;
    justify-content: space-between;
}

.navbarTitle p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}

.navbarEnd {
    display: flex;
    align-items: center;
}

.navbarIcons {
    display: flex;
    align-items: center;
}

.navbarIcon {
    width: 16px;
    height: 16px;
    margin-left: 24px;
    cursor: pointer;
    color: #c5c7cd;
}

.navbarIcon:hover {
    color: #000;
}

.userIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.navbarProfile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.vline {
    height: 32px;
    width: 2px;
    background-color: #dfe0eb;
    margin: 0 32px;
}

.navbarProfile {
    display: flex;
    align-items: center;
}

.navbarProfile p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
    margin-right: 14px;
}
.profile {
    padding: 30px;
    background-color: white;
}

.profile button {
    background: none;
    padding: 10px;
    cursor: pointer;
}

.hline {
    width: 100%;
    height: 3px;
    background-color: gray;
}

.leftProfile {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainProfile {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.rightProfile form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightProfile input {
    height: 40px;
    width: 210px;
    padding: 10px;
    font-size: 20px;
}

.leftProfile button:hover {
    background-color: #000;
    color: white;
}

.rightProfile button {
    width: 80%;
    align-self: center;
    background-color: #000;
    color: white;
    border: 2px solid black;
}

.rightProfile button:hover {
    background-color: white;
    color: #000;
    border: 2px solid black;
}

.inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.profile h2 {
    margin-bottom: 20px;
}

.passwordInputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.passwordInput {
    position: relative;
}

