.users {
    margin-top: 54px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 0 32px;
}

.header h1 {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    font-weight: 700;
}

.function {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.function p {
    color: #4b506d;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.function:hover .headerIcon {
    color: #000;
}

.headerIcon {
    color: #c5c7cd;
}

.newUserformContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.newUserheader {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #06152b;
}

.newUserImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newUserimageSelect {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f4fa;
    padding: 45px;
    width: 110px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
}

.newUseraddNewformInput {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}


.newUserformInputContainer {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    align-items: center;
}


.newUserbutton1 {
    margin-top: 25px;
    background-color: #3a36db;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.newUseraddNewButton {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
    color: white;
    font-size: 14px;
    line-height: 19px;
}

.newUseraddNewformInput input,.newUserformInput2 input {
    height: 50px;
    width: 300px;
    background-color: #f1f4fa;
    border-radius: 10px;
    padding: 17px 15px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color: #06152b;
}

.newUseraddNewformInput label, .newUserformInput2 label, .newUserformInput4 label {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #06152b;
}

.error4 {
    font-size: 12px;
    color: red;
    align-self: flex-end;
}